<body style="background-color: rgba(135, 212, 250, 0.446)">
    <div class="jumbotron text-center" style="color:rgb(242, 244, 191); background-color: rgba(9, 69, 180, 0.446)">
        <h1 class="display-5">NBA Ratings</h1>
        <p class="lead"><strong>
                The NBA has blossomed into a multi billion dollar industry.
                NBA 2K2020 is a popular basketball video game among basketabll fans around the world as
                the game allows users to control their favourite players to do slam dunks, crazy layups, and
                even play with athelets who are retired already.
            </strong>
        </p>
        <hr class="my-4">
        <p class="p-3 m-3 border border-primary">
            This website allows you to check the ratings of NBA players in the game NBA 2K2020
            and to save your favourite players and check their profile.
        </p>

        <p class="lead">
            <a class="btn btn-primary btn-lg" href="https://www.kaggle.com/datasets/isaienkov/nba2k20-player-dataset"
                role="button">Check the Dataset We Used!</a>
        </p>

    </div>


    <div>
        <a href="/search">
            <p style="font-size:35px;">Click Me to Start Searching Players</p>
        </a>
    </div>

    <a href="/players/show"><p style="font-size:35px;">Show Your Favourite Players Collections</p></a>

</body>